[ req ]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[ dn ]
O = system:masters
CN = kube-apiserver-kubelet-client

[ v3_ext ]
#basicConstraints=CA:FALSE
basicConstraints=critical,CA:FALSE
keyUsage=critical,keyEncipherment,digitalSignature
extendedKeyUsage=clientAuth
authorityKeyIdentifier=keyid
